<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean scope="prototype"
          name="prototypeBean"
          class="p01.injectPrototypeInSingleton.withAopProxyXml.ProtypeBean">
        <aop:scoped-proxy />
    </bean>
    <bean name="singleBean"
          class="p01.injectPrototypeInSingleton.withAopProxyXml.SingleTon"
          c:protypeBean-ref="prototypeBean"
    ></bean>

</beans>