<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="p01.injectPrototypeInSingleton.withAbstract.PrototypeBean" id="prototype" scope="prototype"/>
    <bean id="singleton"
          class="p01.injectPrototypeInSingleton.withAbstract.SingletonBean" >
        <lookup-method bean="prototype"  name="getPrototypeBean"/>
    </bean>

</beans>