<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dao" class="p01.scope.ClassConfig.ProductDao" scope="prototype" />
<!--<bean id="dao" class="p01.scope.ClassConfig.ProductDao"  />-->
    <bean id="serv1" class="p01.scope.ClassConfig.ProductService" c:dao1-ref="dao" />
    <bean id="serv2" class="p01.scope.ClassConfig.ProductService" c:dao1-ref="dao"/>

</beans>